name: Process

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: '16.x'
            - run: npm install
            - run: npx prettier . --check --config .prettierrc.json

    process:
        name: Process
        needs: lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: '16.x'
            - run: npm install
            - run: node process.mjs
            - name: Upload artifact
              uses: actions/upload-artifact@v3
              with:
                  name: generated-lookups
                  path: output

    pre-release:
        name: 'Pre Release'
        needs: process
        # if: github.ref == 'refs/heads/main'
        runs-on: 'ubuntu-latest'
        steps:
            - name: Set current date as env variable
              run: echo "NOW=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
            - uses: actions/download-artifact@v3
              with:
                  name: generated-lookups
            - uses: 'marvinpinto/action-automatic-releases@latest'
              with:
                  repo_token: '${{ secrets.GITHUB_TOKEN }}'
                  automatic_release_tag: 'latest'
                  prerelease: true
                  title: '${{ env.NOW }}'
                  files: '*.json'
